@page "/thoughts/edit"
@using Microsoft.EntityFrameworkCore
@using NullVoice
@inject IDbContextFactory<NullVoice.Data.NullVoiceContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Thought</h2>
<hr />
@if (Thought is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Thought" OnValidSubmit="UpdateThought" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Thought.Id" value="@Thought.Id" />
                <div class="mb-3">
                    <label for="contents" class="form-label">Contents:</label>
                    <InputText id="contents" @bind-Value="Thought.Contents" class="form-control" />
                    <ValidationMessage For="() => Thought.Contents" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="sentdate" class="form-label">SentDate:</label>
                    <InputDate id="sentdate" @bind-Value="Thought.SentDate" class="form-control" />
                    <ValidationMessage For="() => Thought.SentDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/thoughts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Thought? Thought { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Thought ??= await context.Thought.FirstOrDefaultAsync(m => m.Id == Id);

        if (Thought is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateThought()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Thought!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ThoughtExists(Thought!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/thoughts");
    }

    private bool ThoughtExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Thought.Any(e => e.Id == id);
    }
}
