@page "/thoughts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using NullVoice
@using NullVoice.Data
@implements IAsyncDisposable
@inject IDbContextFactory<NullVoice.Data.NullVoiceContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="thoughts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Thought">
    <PropertyColumn Property="thought => thought.Contents" />
    <PropertyColumn Property="thought => thought.SentDate" />

    <TemplateColumn Context="thought">
        <a href="@($"thoughts/edit?id={thought.Id}")">Edit</a> |
        <a href="@($"thoughts/details?id={thought.Id}")">Details</a> |
        <a href="@($"thoughts/delete?id={thought.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private NullVoiceContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
