<div class="top-row ps-3 navbar navbar-dark shadow-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Null Voice</a>
        <a class="navbar-brand" href="/Thoughts">Thoughts</a>
        <a class="navbar-brand" href="https://www.github.com/barnold8">Developer</a>
    </div>
</div>


